/* Finishes Section */
.finishes-section {
  margin-top: 0.6rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.finishes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.finish-box {
  background: transparent;
  border: 1px solid #ccc;
  color: #333;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 0.85rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.finish-box:hover {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.finish-box.selected {
  background: rgba(0, 0, 0, 0.1);
  border-color: #035e5d;
  color: #035e5d;
}
